<div class="mobile">
  <app-mobile-nav></app-mobile-nav>
</div>
<div class="nboContainer" >
  <div *ngIf="boxes" >
    <div class="row">
      <div class="col-2">Id</div>
      <div class="col-3">Status</div>
      <div class="col-7">Nazwa</div>
    </div>
    <div *ngFor="let box of boxes.data" class="row ">
      <div class="col-2">{{ box.boxId }}</div>
      <div class="col-3">{{ box.boxStatusName }}</div>
      <div class="col-7"><a routerLink="/box/{{ box.boxId }}">{{ box.boxName }}</a></div>
      <div class="col-12">Pomieszczenie: {{ box.boxLocationName }}</div>
    </div>
  </div>
</div>