<div>
   NORMAL NAV
</div>
<header>
   <div class="nboContainer">
        <div class="row ">
            <div class="col-1 nboVerticalAlign">
                <a routerLink="/">
                    <img src="assets/img/box.png" alt="New box order application">
                </a>
            </div>
            <div class="col-2">
                <a routerLink="/">
                    <h1 style="background: teal;"> {{ appTitle }} </h1>
                </a>
            </div>
            <nav class="col-7 nboVerticalAlign">
                <a href="http://bluebat.pl">
                    <button class="btn btn-dark">Bluebat</button>
                </a>
                <a routerLink="/">
                    <button class="btn btn-dark">Lista</button>
                </a>
                <a routerLink="/box">
                    <button class="btn btn-dark">Dodaj nowy pojemnik</button>
                </a>
                <a routerLink="/print">
                    <button class="btn btn-dark">Kody kreskowe i QR</button>
                </a>
            </nav>
            <div class="col-2 nboVerticalAlign">
                <form [formGroup]="searchForm">
                    <input type="search" class="form-control searchField" name="search" placeholder="Szukaj...">
                    <input type="submit" class="form-control searchSubmit" value="Idź">
                </form>
            </div>
        </div>
    </div>

    <div class="shadow mt-1 mb-1"></div>
</header>
