<div class="nboContainer">

 <p>
  home works!
</p>
<p>
  home works!
</p>
<p>
  home works!
</p>
    <p>
        <button (click)="setStatusTrue()">status true</button>
        <button (click)="setStatusFalse()">status false</button>
    </p>
    <p [class.red]="status">
       ten tekst jest kolorowany w zależności od zmiennej
    </p>

    <p [ngClass]="{
        'red': status,
        'bold': status2
    }">
        ten tekst jest kolorowany w zależności od zmiennej
    </p>

    <p>
        <button (click)="homesButtonClick()">service button</button>
    </p>

    <div class="shadow"></div>
    <div *ngIf="users">

    </div>

</div>