<div class="nboContainer">
    <form [formGroup]="boxForm" (ngSubmit)="onSubmit()">
        <div *ngIf="success">
            Zapisano!
        </div>
        <div *ngIf="this.formErrors" >
            <div >
                <p></p>
                <p class="alert alert-danger">There was a problem with data save, please check all form fields and try again.</p>
                <p class="alert alert-danger">More information about error in console.</p>
            </div>
        </div>
        <div>
            <h4 *ngIf="this.isNew"><br>Nowy pojemnik:</h4>
            <h4 *ngIf="!this.isNew">Edutuj:</h4>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="mb-2">
                    <input type="text" formControlName="boxName" name="boxName" value="" placeholder="Nazwa" class="form-control">
                    <div *ngIf="submitted && boxForm.controls.boxName.errors" class="error">
                        <div *ngIf="boxForm.controls.boxName.errors.required">Pole nazwa nie może być puste</div>
                    </div>
                </div>
                <div class="mb-2">
                    <textarea type="text" formControlName="boxDescription" name="boxDescription" placeholder="Opis" class="form-control w-100"></textarea>
                    <div *ngIf="submitted && boxForm.controls.boxDescription.errors" class="error">
                        <div *ngIf="boxForm.controls.boxDescription.errors.required">Pole opis nie może być puste</div>
                    </div>
                </div>
                <div  class="mb-2" *ngIf="this.locations" >
                    <select name="boxLocationName" class="form-control" formControlName="boxLocations" >
                        <option value="" disabled="disabled" selected>Lokacja</option>
                        <option *ngFor="let location of this.locations.data"
                                value="{{location.boxLocationId}}">
                            {{location.boxLocationName}}
                        </option>
                    </select>
                </div>
                <div  class="mb-2" *ngIf="this.barcodes" >
                    <select name="codeType" class="form-control" formControlName="codeType" >
                        <option *ngFor="let type of this.barcodes.data"
                                value="{{type.id}}">
                            {{type.name}}
                        </option>
                    </select>
                </div>
                <div>Dodaj zdjęcie:
                    <div *ngFor='let image of this.imageNames; let i = index'>
                        <input type="file" #file class="form-control inputFileFix" accept="image/*"
                               [attr.name]="image" (change)="preview(file.files, i)" [attr.formControlName]="name"
                        >
                        <div class="mb-2 mt-2">
                            <img [src]="imagePaths[i]" class="w-100" *ngIf="imagePaths[i]">
                        </div>
                    </div>
                </div>

                <div>
                    <button class="btn btn-success mr-2" type="button" (click)="addInputImage()">Dodaj zdjęcie</button>
                    <button class="btn btn-danger" type="button" (click)="deleteInputImage()">Usuń zdjęcie</button>
                </div>

                <hr>
                <div>
                    <button class="btn btn-danger mr-2" (click)="back()">Odrzuć</button>
                    <button class="btn btn-primary" (submit)="boxForm" >Zapisz</button>
                </div>
                <hr>

                <div>
                    <input type="text" name="boxParentId" value="" class="form-control" placeholder="Id rodzica" formControlName="boxParent">
                    <div *ngIf="submitted && boxForm.controls.boxParentId.errors" class="error">
                        <div *ngIf="boxForm.controls.boxParentId.errors.required">Pole nazwa nie może być puste</div>
                    </div>
                </div>

                <div>
                    <input type="text" name="codeType" value="" class="form-control" placeholder="Id rodzica" formControlName="boxParent">
                    <div *ngIf="submitted && boxForm.controls.boxParentId.errors" class="error">
                        <div *ngIf="boxForm.controls.boxParentId.errors.required">Pole nazwa nie może być puste</div>
                    </div>
                </div>

            </div>

            <div class="col-12 md-4" *ngIf="!this.isNew">
                <div class="row">
                    <div class="col-4 paramHeader">ID:</div>
                    <div class="col"><< $box - > boxId >></div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader">Status:</div>
                    <div class="col">
                                    <span class="badge << $box->boxStatusClass >> statusWidth">
                                        << $box - > boxStatusName >>
                                    </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader" title="Data utworzenia">Utworzono:</div>
                    <div class="col"><< $box - > boxDetailsCreatedTime >></div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader" title="Data ostatniej modyfikacji">Zmodyfikowano:</div>
                    <div class="col"><< $box - > boxLastModifiedTime >></div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader" title="Data ostatniego skanowania">Skanowano:</div>
                    <div class="col">> boxDetailsLastScannedVersionDate >></div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader" title="Ostatni numer wersji potwierdzony skanowaniem">
                        Ostatnia wersja:
                    </div>
                    <div class="col"><< $box - > boxDetailsLastScannedVersion >></div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader" title="Numer bieżącej wersji">Bieżąca wersja:</div>
                    <div class="col"><< $box - > boxDetailsVersion >></div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col" *ngIf="!this.isNew">
                <p></p>
                <div class="bold">Historia:</div>
                <p></p>
                <div>
                    <div>Wpis pierwszy statyczny</div>
                    <div>Wpis drugi statyczny</div>
                </div>
            </div>
        </div>
    </form>

    <div *ngIf="success" class="success">
        <h5>Zmiany w pojemniku <strong>"{{ boxForm.controls.boxName.value }}"</strong> zostały zapisane!</h5>
    </div>


    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p  *ngIf="!this.isNew">
        niepotrzebne kolumny:
        boxStatus
        [boxType] => 2
        [boxCodeType] => 2
        [boxDetails] => 1
        [boxDetailsId] => 1
        [boxStatusId] => 2
        [boxLocationId] => 1
        [boxLocationDetails] =>

        pozostałe kolumny:
        [boxId] => 2
        [boxParentId] => 0
        [boxName] => Test
        [boxStatus] => 2
        [boxLastModifiedTime] => 2019-03-01 22:34:54
        [boxType] => 2
        [boxCodeType] => 2
        [boxDetails] => 1
        [boxDetailsId] => 1
        [boxDetailsCreatedTime] => 2019-03-01 22:34:44
        [boxDetailsVersion] => 1
        [boxDetailsLastScannedVersion] => 0
        [boxDetailsLastScannedVersionDate] => 2019-03-01 22:34:44
        [boxDetailsDescription] => none
        [boxDetailsLocation] => 1
        [boxDetailsLocationDetails] =>
        [boxStatusId] => 2
        [boxStatusName] => Ok
        [boxStatusClass] => badge-success
        [boxLocationId] => 1
        [boxLocationName] => Pokój Witka
    </p>
</div>