<p>
  print works!
</p>
<div>
  start
</div>
<div class=" d-none d-xl-block ">
  extra large
</div>
<div class="d-none d-lg-block d-xl-none">
  large
</div>
<div class=" d-none d-md-block d-lg-none">
  medium
</div>
<div class="d-none d-sm-block d-md-none">
  small
</div>
<div class="d-block d-sm-none">
  extra small
</div>
<div>
  koniec
</div>