<div class="nboContainer">
    <form [formGroup]="boxForm" (ngSubmit)="onSubmit()">
        <h5 *ngIf="success">
            Zapisano!
        </h5>
        <div>
            <h2>Edycja:</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">

                <label>Nazwa
                    <input type="text" formControlName="boxName" name="boxName" value="" class="form-control">
                    <div *ngIf="submitted && boxForm.controls.boxName.errors" class="error">
                        <div *ngIf="boxForm.controls.boxName.errors.required">Pole nazwa nie może być puste</div>
                    </div>
                </label>

                <label>Id rodzica:
                    <input type="text" name="boxParentId" value="<< $box->boxParentId >>" class="form-control">
                </label>

                <label>Opis:
                    <textarea type="text" formControlName="boxDescription" name="boxDescription"
                              class="form-control"></textarea>
                    <div *ngIf="submitted && boxForm.controls.boxDescription.errors" class="error">
                        <div *ngIf="boxForm.controls.boxDescription.errors.required">Pole opis nie może być puste</div>
                    </div>
                </label>

                <label>Lokacja
                    <select name="boxLocationName" class="form-control">
                        <option value="<< $box->boxDetailsLocation >>"><< $box - > boxLocationName >></option>
                        @foreach($locations as $location)
                        <option value="<< $location->boxLocationId >>"><< $location - > boxLocationName >></option>
                        @endforeach
                    </select>
                </label>

            </div>
            <div class="col-12 md-4">
                <div class="row">
                    <div class="col-4 paramHeader">ID:</div>
                    <div class="col"><< $box - > boxId >></div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader">Status:</div>
                    <div class="col">
                                    <span class="badge << $box->boxStatusClass >> statusWidth">
                                        << $box - > boxStatusName >>
                                    </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader" title="Data utworzenia">Utworzono:</div>
                    <div class="col"><< $box - > boxDetailsCreatedTime >></div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader" title="Data ostatniej modyfikacji">Zmodyfikowano:</div>
                    <div class="col"><< $box - > boxLastModifiedTime >></div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader" title="Data ostatniego skanowania">Skanowano:</div>
                    <div class="col">> boxDetailsLastScannedVersionDate >></div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader" title="Ostatni numer wersji potwierdzony skanowaniem">
                        Ostatnia wersja:
                    </div>
                    <div class="col"><< $box - > boxDetailsLastScannedVersion >></div>
                </div>
                <div class="row">
                    <div class="col-4 paramHeader" title="Numer bieżącej wersji">Bieżąca wersja:</div>
                    <div class="col"><< $box - > boxDetailsVersion >></div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <p></p>
                <div class="bold">Akcje:</div>
                <p></p>
                <div>
                    <button class="btn btn-dark" (submit)="boxForm">Zapisz zmiany</button> &nbsp;
                    <button class="btn btn-dark">Odrzuć zmiany</button> &nbsp;
                    <button class="btn btn-dark">Zmień status na "OK"</button>
                </div>
            </div>
            <div class="col">
                <p></p>
                <div class="bold">Historia:</div>
                <p></p>
                <div>
                    <div>Wpis pierwszy statyczny</div>
                    <div>Wpis drugi statyczny</div>
                </div>
            </div>
        </div>
        <div>Zdjęcia</div>
    </form>

    <div *ngIf="success" class="success">
        <h5>Zmiany w pojemniku <strong>"{{ boxForm.controls.boxName.value }}"</strong> zostały zapisane!</h5>
    </div>


    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p>
        niepotrzebne kolumny:
        boxStatus
        [boxType] => 2
        [boxCodeType] => 2
        [boxDetails] => 1
        [boxDetailsId] => 1
        [boxStatusId] => 2
        [boxLocationId] => 1
        [boxLocationDetails] =>

        pozostałe kolumny:
        [boxId] => 2
        [boxParentId] => 0
        [boxName] => Test
        [boxStatus] => 2
        [boxLastModifiedTime] => 2019-03-01 22:34:54
        [boxType] => 2
        [boxCodeType] => 2
        [boxDetails] => 1
        [boxDetailsId] => 1
        [boxDetailsCreatedTime] => 2019-03-01 22:34:44
        [boxDetailsVersion] => 1
        [boxDetailsLastScannedVersion] => 0
        [boxDetailsLastScannedVersionDate] => 2019-03-01 22:34:44
        [boxDetailsDescription] => none
        [boxDetailsLocation] => 1
        [boxDetailsLocationDetails] =>
        [boxStatusId] => 2
        [boxStatusName] => Ok
        [boxStatusClass] => badge-success
        [boxLocationId] => 1
        [boxLocationName] => Pokój Witka
    </p>
</div>