/* You can add global styles to this file, and also import other style files */
.body  {
  background: #eeeeee;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

a {
  outline: none;
}

.nboContainer {
  width: 90%;
  margin: auto;
}

.nboVerticalAlign {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}



header {
  background: #bbbbbb;
  color: #ffffff;
}

h1 {
  font-size: 1.6rem;
}

a {
  color: #09a0ff;
}

a:hover {
  font-weight: bold;
  text-shadow: 2px 2px #666666;
  text-decoration: none;
}

label {
  display: block;
  width: 100%;
}

input {
  width: 100%;
}

#headerImage a img{
  height: 50px;
  margin: 20px auto 20px auto;
}

.shadow {
  height: 0.15rem;
  background: #ffffff;
}

.inputFileFix {
  height: auto !important;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  background: greenyellow;
}


