<header  class="pb-1">
  <div class="">
    <div class="text-center ">
      <a routerLink="/" class="w-100 mb-2">
        <h1> {{ appName }} </h1>
      </a>
    </div>
    <nav class="nboContainer">
      <div class="mb-1">
        <a routerLink="/">
          <button class="btn btn-dark w-100">Lista</button>
        </a>
      </div>
      <div class="mb-1">
        <a routerLink="/box">
          <button class="btn btn-dark w-100">Dodaj nowy pojemnik</button>
        </a>
      </div>
      <div class="mb-1">
        <a routerLink="/print">
          <button class="btn btn-dark w-100">Kody kreskowe i QR</button>
        </a>
      </div>
    </nav>
    <div class="nboContainer">
      <form [formGroup]="searchForm">
        <input type="search" class="form-control d-inline w-75" name="search" placeholder="Szukaj...">
        <input type="submit" class="form-control d-inline w-25" value="Idź">
      </form>
    </div>
  </div>
</header>
<div class="shadow"></div>